# aiqb
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libtbd.so.0.0.0 /usr/lib/libtbd.so.0.0.0"

# libiaaiq
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libSkyCamAIC.so /usr/lib/libSkyCamAIC.so"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libSkyCamAICKBL.so /usr/lib/libSkyCamAICKBL.so"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libStatsConverter.so /usr/lib/libStatsConverter.so"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libbroxton_ia_pal.so /usr/lib/libbroxton_ia_pal.so"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libia_aec.so /usr/lib/libia_aec.so"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libia_aic.so /usr/lib/libia_aic.so"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libia_aic_engine.so /usr/lib/libia_aic_engine.so"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libia_aic_myriad.so /usr/lib/libia_aic_myriad.so"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libia_aiq.so /usr/lib/libia_aiq.so"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libia_aiq_file_debug.so /usr/lib/libia_aiq_file_debug.so"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libia_aiqb_parser.so /usr/lib/libia_aiqb_parser.so"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libia_bcomp.so /usr/lib/libia_bcomp.so"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libia_cca.so /usr/lib/libia_cca.so"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libia_cca_file_debug.so /usr/lib/libia_cca_file_debug.so"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libia_ccat.so /usr/lib/libia_ccat.so"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libia_cmc_parser.so /usr/lib/libia_cmc_parser.so"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libia_coordinate.so /usr/lib/libia_coordinate.so"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libia_dpc.so /usr/lib/libia_dpc.so"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libia_dvs.so /usr/lib/libia_dvs.so"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libia_dvs_file_debug.so /usr/lib/libia_dvs_file_debug.so"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libia_emd_decoder.so /usr/lib/libia_emd_decoder.so"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libia_exc.so /usr/lib/libia_exc.so"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libia_intrinsics.so /usr/lib/libia_intrinsics.so"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libia_isp_bxt.so /usr/lib/libia_isp_bxt.so"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libia_isp_bxt_file_debug.so /usr/lib/libia_isp_bxt_file_debug.so"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libia_lard.so /usr/lib/libia_lard.so"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libia_log.so /usr/lib/libia_log.so"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libia_ltm.so /usr/lib/libia_ltm.so"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libia_ltm_file_debug.so /usr/lib/libia_ltm_file_debug.so"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libia_me_corner.so /usr/lib/libia_me_corner.so"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libia_mkn.so /usr/lib/libia_mkn.so"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libia_nvm.so /usr/lib/libia_nvm.so"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libia_ob.so /usr/lib/libia_ob.so"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libia_pd.so /usr/lib/libia_pd.so"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libia_view.so /usr/lib/libia_view.so"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libpvl_blink_detection.so /usr/lib/libpvl_blink_detection.so"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libpvl_eye_detection.so /usr/lib/libpvl_eye_detection.so"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libpvl_face_detection.so /usr/lib/libpvl_face_detection.so"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libpvl_face_recognition.so /usr/lib/libpvl_face_recognition.so"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libpvl_mouth_detection.so /usr/lib/libpvl_mouth_detection.so"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libpvl_object_tracking.so /usr/lib/libpvl_object_tracking.so"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libpvl_smile_detection.so /usr/lib/libpvl_smile_detection.so"

# libiacss
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libcisu.so.0.0.0 /usr/lib/libcisu.so.0.0.0"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libcisu_os_plugin.so.1.0.0 /usr/lib/libcisu_os_plugin.so.1.0.0"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libgcss.so.0.0.0 /usr/lib/libgcss.so.0.0.0"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libia_camera.so.0.0.0 /usr/lib/libia_camera.so.0.0.0"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libia_cipf.so.0.0.0 /usr/lib/libia_cipf.so.0.0.0"

# libcamhal
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/lib/ipu6ep/libcamhal.so /usr/lib/libcamhal.so"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x465d", RUN+="/bin/ln -sf /usr/share/defaults/etc/ipu6ep/camera /usr/share/defaults/etc/camera"