aclocal.m4
configure
config.*
libtool
*.lo
*.patch
*.la
*.o
.deps/
.libs/
autom4te.cache/
Makefile
Makefile.in
depcomp
install-sh
stamp-*
ltmain.sh
INSTALL
missing
compile
tools/
test/icamsrc_test
test/utils/gst-tool
rpm/*.rpm
*-libtool
