name: Build tests

on:
  push:

  pull_request:

permissions: {}

jobs:
  build:
    strategy:
      matrix:
        version: [ipu6]
        os: ["ubuntu:24.04", "ubuntu:22.04", "ubuntu:20.04"]
    runs-on: ubuntu-latest
    container: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          repository: intel/ipu6-camera-bins
          ref: main
          path: bins

      - name: Install from intel/ipu6-camera-bins
        run: |
          cd "${GITHUB_WORKSPACE}/bins"

          cat README.md | \
            awk 'BEGIN { \
                FS="/"; \
              } \
              /^```/ { \
                getline; \
                if ($1 == "# Runtime files") { \
                  while ($1 != "```") { \
                    print $0; \
                    getline; \
                  } \
                } \
              }' | \
            sed 's,ipu6-camera-bins/,./,' | \
            sh -x

      - uses: actions/checkout@v4
        with:
          path: hal

      - name: Install prerequisite packages
        run: |
          echo 'APT::Get::Always-Include-Phased-Updates True;' | tee -a /etc/apt/apt.conf
          echo 'Acquire::http::User-Agent-Non-Interactive "true";' | tee -a /etc/apt/apt.conf
          apt-get update -q
          export TZ=Asia/Shanghai
          echo "" | apt-get install -qy tzdata
          echo "" | apt-get install git build-essential cmake libexpat-dev automake libtool libgstreamer1.0-dev libgstreamer-plugins-base1.0-dev libunwind-dev libdrm-dev --yes
      - name: Build test for ${{ matrix.version }} on ${{ matrix.os }}
        timeout-minutes: 10
        run: |
          cd "${GITHUB_WORKSPACE}/hal"

          mkdir build && cd build
          cmake  -DCMAKE_BUILD_TYPE=Release \
                 -DCMAKE_INSTALL_PREFIX=/usr \
                 -DCMAKE_INSTALL_LIBDIR=lib \
                 -DBUILD_CAMHAL_TESTS=OFF \
                 -DBUILD_CAMHAL_ADAPTOR=ON \
                 -DBUILD_CAMHAL_PLUGIN=ON \
                 -DIPU_VERSIONS="ipu6;ipu6ep;ipu6epmtl" \
                 -DUSE_PG_LITE_PIPE=ON \
                 ..
          VERBOSE=1 make -j16
          make install
